@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/Oaback-j9DLR.otf') format('truetype'); 
}

.App {
  height: 100vh;  
  background-color: #230c4e; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  width: 200px;
  background-color: #3f1d6b; 
  color: white;
  padding: 20px;
  padding-top: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh; 
  position: fixed; 
  font-weight: bold;
}

.profile-img {
  width: 100px; 
  height: 100px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: rgb(178, 136, 189);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: block; 
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.sidebar nav ul li.active a {
  color: #8becb0; 
}

.content {
  color: #61dafb;
  font-size: 20px;
  padding: 20px;
  padding-top: 350px;  
  overflow-y: auto;
  padding-left: 400px;
}

.first-name {
  color: #e196eb; 
}

.last-name {
  color: #8becb0;
}

#full-name {
  font-family: 'MyCustomFont', Oaback-j9DLR; 
  font-weight: bold;
  font-size: 45px;
}

#animated-text {
  font-size: 15px; 
  color: #ffda07; 
  white-space: nowrap; 
  overflow: hidden; 
  display: inline-block; 
}

.download-button {
  background-color: #8becb0; /* Color del botón */
  color: black; /* Color del texto del botón */
  border: none; /* Quita el borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor a una mano */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 20px; /* Espaciado superior */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Quita el subrayado */
}

.download-button:hover {
  background-color: #47775a; /* Color de fondo al pasar el ratón */
}