#education {
    font-size: 20px;
    color: #61dafb;
    background-color: #230c4e; 
}

.sectionTitle {
    font-weight: bold;
    font-size: 55px;
    color: #e196eb;
    margin-bottom: 40px;
}

h1 {
    font-size: 25px;
    color: #c770d3;
}

h2{
    font-size: 20px;    
}

.date {
    color: aquamarine;
    font-size: 12px;
}

