.sidebar {
    width: 15%;
    background-color: #3f1d6b;
    color: white;
    padding: 20px;
    padding-top: 15vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    font-weight: bold;
    transition: all 0.3s ease; 
}

.nav-link {
    color: rgb(178, 136, 189);
    text-decoration: none;
    font-size: 2vw; 
    text-align: center;
    display: block;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    font-size: 2vw; 
}

.nav-item.active .nav-link {
    color: #8becb0;
}

.navbar-toggler {
    background-color: #8becb0;
    border: none;
    margin: 10px;
}

.navbar-toggler-icon {
    font-size: 30px;
    color: white;
}

@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .nav-link, .nav-item {
        font-size: 4vw; 
    }
}

.profile-img-container {
    margin-bottom: 20px;
    width: 80%;  
}

.profile-img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease; 
}

@media (max-width: 768px) {
    .profile-img-container {
        width: 60%; 
    }
}

@media (max-width: 480px) {
    .profile-img-container {
        width: 30%;  
    }
}
