@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/Oaback-j9DLR.otf') format('truetype'); 
}

.App {
  height: 100vh;  
  background-color: #230c4e; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  width: 200px;
  background-color: #3f1d6b; 
  color: white;
  padding: 20px;
  padding-top: 220px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh; 
  position: fixed; 
  font-weight: bold;
}

.profile-img {
  width: 100px; 
  height: 100px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: rgb(178, 136, 189);
  text-decoration: none;
  font-size: 28px;
  text-align: center;
  display: block; 
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.sidebar nav ul li.active a {
  color: #8becb0; 
}

.content {
  color: #61dafb;
  font-size: 30px;
  padding: 20px;
  padding-top: 200px;  
  overflow-y: auto;
  padding-left: 400px;
}

.first-name {
  color: #e196eb; 
}

.last-name {
  color: #8becb0;
}

#full-name {
  font-family: 'MyCustomFont', Oaback-j9DLR; 
  font-weight: bold;
  font-size: 65px;
}

#animated-text {
  font-size: 25px; 
  color: #ffda07; 
  white-space: nowrap; 
  overflow: hidden; 
  display: inline-block; 
}

.download-button {
  background-color: #8becb0;
  color: black; 
  border: none;   
  padding: 10px 20px; 
  font-size: 26px; 
  cursor: pointer; 
  border-radius: 5px; 
  margin-top: 20px; 
  margin-bottom: 50px;
  text-align: center; 
  text-decoration: none; 
}

.download-button:hover {
  background-color: #47775a; 
}

.email-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.email-input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 340px;
}

.copy-button {
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  background-color: #8becb0; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #47775a; 
}